<!DOCTYPE html>
html
	head
		meta(charset="UTF-8")
		title Document
		link(rel="stylesheet" href="css/main.css")

body
		
	div.user
		h4 Bob
		div.info
			p mymail@gmail.com
			small This is your email

	div.payment
		p Score: $2
		small This is your score

	div.about-project This all bullshit
	div.footer Oh, bottom